@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Siyasebenza mnj</title>
</head>
<body>
    <div class="container" id="Patient_Search">
        <h2>Search for Patient</h2>
        <hr>
        First name: <input type="text" name="fname"><br>
        <!--  <a class=" btn btn-primary" asp-controller="Home" asp-action="Search">Search</a> -->
        <button type="button" class="btn btn-link">Search</button>

        <br>
        <h2>Results</h2>
        <p><a href=""<!-- Patients name and surname (information come from database) --></a></p> 
        <!--  <a class=" btn btn-primary" asp-controller="Home" asp-action="Search">Search</a> -->
        <button type="button" class="btn btn-link">History</button>
        <button type="button" class="btn btn-link">New reccord</button>
       
    </div>
</body>
</html>
